*{
box-sizing:border-box;
}


body{

background:#FFF8E7;

font-family:Arial;

margin:0;

color:#333;

transition:.3s;

}



.site-header{

background:#8B0000;

color:white;

text-align:center;

padding:30px;

}



#mainTitle{

color:#FFD166;

font-size:40px;

}



button{

cursor:pointer;

}



.menu-toggle{

display:none;

background:#E63946;

color:white;

border:none;

padding:12px;

border-radius:8px;

}



.main-menu{

background:#5A0000;

padding:15px;

text-align:center;

}



.main-menu a{

color:white;

text-decoration:none;

margin:15px;

}



main{

width:90%;

max-width:1000px;

margin:auto;

}



.hero{

width:100%;

border-radius:10px;

}



#about,
#gallery,
#contact{

background:white;

padding:20px;

margin-top:20px;

border-radius:10px;

}



.topic-list{

border:2px solid #8B0000;

padding:20px;

}



.hidden{

display:none;

}



/* gallery */


.gallery{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.gallery-item{

width:300px;

background:white;

border-radius:10px;

overflow:hidden;

}



.gallery-item img{

width:100%;

}



.gallery-search{

padding:12px;

width:100%;

max-width:400px;

}



.filter-btn,
.cta,
#helloBtn,
#toggleAboutBtn{

background:#E63946;

color:white;

border:none;

padding:12px;

border-radius:8px;

}



.contact-form{

display:flex;

flex-direction:column;

gap:10px;

}



input,
textarea{

padding:12px;

}



footer{

background:#5A0000;

color:white;

text-align:center;

padding:20px;

}



/* theme */


.dark-mode{

background:#111827;

color:white;

}



.dark-mode #about,
.dark-mode #gallery,
.dark-mode #contact{

background:#1f2937;

}



.warm-mode{

background:#fff7ed;

}



/* menu */


.main-menu.active{

display:flex;

}



@media(max-width:600px){


.menu-toggle{

display:inline-block;

}



.main-menu{

display:none;

flex-direction:column;

}



.main-menu a{

display:block;

}



.gallery-item{

width:100%;

}

}
